.icon{
    margin: auto;
}

.footer__content{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    border-top: 1px solid darkgray;
    margin-bottom: 10px;
    border: 1px solid darkgray;
    width: 99.9%;
    margin-top: 10px;
    background-color: green;
    align-items: center;
    border: 1px solid red;
}
h3{
    width: 20%;
    margin: auto;
    align-items: center;
    /* margin-left: 75px; */
    color: white;
    width: 100%;
    align-items: center;
}
.icon{
    color: white;
    /* margin: auto; */
    align-items: center;
}
@media (max-width:280px) {
    h3{
        margin-left: 0px;
    }
}
@media (max-width:280px) {
    .footer__content{
        text-align: center;
        /* margin-left: 1rem;    */
        font-size: 15px;    
    }
    .icons{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    span{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    }
   